<section class="login" id="login">
  <!-- FORM -->
  <form class="form" id="login-form">
    
    <!-- FORM DEFAULT -->
    <div id="login-form-default" class="form-container active-login" tabindex="1">
      <h2>Login</h2>
      
      <div class="side-right">
        <h1 class="random-chat-title">RANDOM CHAT</h1>
      </div>
      
      <div class="side-left">
          <div class="input-box">
            <label>E-mail</label>
              <div class="form-group">
                <input autocomplete="off" id="input-email-login" type="text" name="email" placeholder="exemplo@hotmail.com">
                <!-- <input id="input-teste" type="text"> -->
              </div>
          </div>
          
          <div class="input-box">
            <label>Senha</label>
    
            <div class="form-group">
              <input autocomplete="off" type="password" id="input-password" name="password" placeholder="•••••••••••">
              <span class="suffix" id="show-password"><i id="icon-password" class="tiny material-icons">visibility_off</i></span>
            </div>
          </div>
          
          <div class="buttons default">
            <button class="btn-email" id="login-from-email" type="button">E-mail</button>
            <button class="btn-google" id="login-from-google" type="button">Google</button>
          </div>
      
          <div class="forget">
            <span id="forgotten-account">Esqueceu a senha?&nbsp;&nbsp;
              <strong style="color:var(--color-orange-lighter)">Clique aqui</strong>
            </span>
            <span id="without-account">Não tenho conta</span>
          </div>
      </div>
    </div>
    
    <!-- FORM NO ACCOUNT -->
    <div style="display:none;" id="without-account-form" class="form-container" tabindex="2">
      <button id="back-button-from-login-without-account" class="back-button" type="button">
        <span><i class="tiny material-icons">chevron_left</i></span>
      </button>
      
      <div class="side-left" style="margin: 0 auto;">
        <h2>Não tenho conta</h2>

        <div class="input-box">
          <label>E-mail</label>
            <div class="form-group">
              <input id="input-email-no-account" type="text" name="email" placeholder="exemplo@hotmail.com">
            </div>
        </div>
        
        <div class="input-box">
          <label>Senha</label>
          <div class="form-group">
            <input autocomplete="off" type="password" id="input-password-no-account" name="password" placeholder="•••••••••••">
            <span class="suffix" id="show-password-new"><i id="icon-password-no-account" class="tiny material-icons">visibility_off</i></span>
          </div>
        </div>
        
        <div class="buttons default" style="justify-content: center;">
          <button class="btn-email" id="login-from-email-new" type="button">cadastrar</button>
        </div>
      </div>
    </div>
    
    <!-- FORM FORGET PASSWORD -->
    <div style="display:none;" id="forgotten-account-form" class="form-container" tabindex="3">
      <button id="back-button-from-login-forgotten-account" class="back-button" type="button">
        <span><i class="tiny material-icons">chevron_left</i></span>
      </button>
      <div class="side-left" style="margin: 0 auto;">
        <h2>Esqueci a senha</h2>
        <div class="input-box">
          <label>E-mail</label>
            <div class="form-group">
              <input autocomplete="off" id="input-email-forgotten" type="text" name="email" placeholder="exemplo@hotmail.com">
            </div>
        </div>
        
        <div class="buttons default" style="justify-content: center;">
          <button class="btn-email" id="login-from-email-send" type="button">enviar e-mail</button>
        </div>
      </div>

    </div>

    <!-- FORM CODE -->
    <div style="display:none;" class="form-container" tabindex="4">
      <button id="back-button-from-login-from-code" class="back-button" type="button">
        <span><i class="tiny material-icons">chevron_left</i></span>
      </button>

      <div class="verification">
        <div class="menssage">
          <h2>Insira aqui - timer <span id="timer-input-code"></span></h2>
          <span>Código enviado para e-mail: 
            <span id="show-email-to-get-code"></span>
        </span>
        </div>
        
        <div class="v-code">
          <div class="line"></div>
          <div class="form-group">
            <input autocomplete="off" id="input-code-from-email" type="text" name="code" placeholder="0-0-0-0">
          </div>
        </div>
  
        <div class="buttons default verify" style="justify-content: space-between;">
          <button class="btn-email" id="btn-verify-code" type="button">Vefificar</button>
          <button style="display:none" class="btn-email" id="btn-verify-code-reset" type="button">Novo código</button>
          <button class="btn-cancel" id="btn-verify-code-cancel" type="button">Cancelar</button>
        </div>
      
      </div>
    </div>

    <!-- FORM LOADING -->

    <div style="display:none; justify-content: center;" class="form-container" tabindex="5">
      <div class="infinite-load">
        <div class="infinite-container">
          <div class="dna">
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
            <div class="cell"></div>
          </div>
        </div>
      </div>
    </div>


    <!-- NOTIFICATION -->
    <div class="notification">
      <span id="notification-login-tooltip-content"></span>
    </div>
  </form>

 
</section>