<div class="loading">
    <!-- <svg><circle cx="70" cy="70" r="70"></circle></svg> -->
    <div class="infinite-load">
        <div class="infinite-container">
            <div class="dna">
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
                <div class="cell"></div>
            </div>
        </div>
    </div>
</div>
